.hero_content {
  z-index: 70;
}

.hero_image {
  z-index: 60;
}

/* Main UI CSS */
/* GSAP Navigation */
header {
  position: relative;
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 100%;
  z-index: 90;
}

.header_wrapper {
  padding: inherit;
}

.inner_header {
  position: relative;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HAMBURGER MENU BUTTON */
.menu_trigger {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 48px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

.menu_trigger span {
  display: inline-flex;
  width: 28px;
  height: 2px;
  border-radius: 16px;
  background: #5d5d5d;
  transition: all ease 0.5s;
}

.menu_trigger span:nth-child(2) {
  width: 20px;
}

.menu_close span {
  position: absolute;
  background: #5d5d5d;
}

.menu_close span:nth-child(1) {
  transform: rotate(38deg);
}

.menu_close span:nth-child(3) {
  transform: rotate(-38deg);
}

.menu_close span:nth-child(2) {
  display: none;
}

/* HAMBURGER MENU LAYOUT */
.hamburger_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.reveal_menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #7b52b9;
  width: 100%;
  height: 100%;
}

.menu_main {
  position: relative;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

.menu_wrapper {
  position: relative;
}

.menu_tags {
  position: relative;
  top: 200px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  gap: 48px;
}

.menu_tags nav {
  display: block;
}

.menu_tags nav li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu_tags ul li a {
  /* position: absolute; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #1e1e1e;
  transition: all ease-in-out 0.3s;
}

.menu_tags ul li a:hover {
  color: #1e1e1e;
}

.info {
  width: 300px;
  color: #1e1e1e;
}

.info h3 {
  text-transform: uppercase;
  margin: 8px auto;
  margin-bottom: 18px;
}

.info p {
  font-size: 0.8rem;
  margin: 0 auto;
}

/* Header Gradient Animated Text */
.animate-gradient-text {
  background-image: linear-gradient(120deg, #1cdce8, #bb77ed, #f34a62);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated-gradient 5s ease-in-out infinite;
}

@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Form Inputs */
.input {
  font-family: "Montserrat";
  width: 100%;
  outline: none;
  border: 1px solid #dadada;
  padding: 12px;
  border-radius: 12px;
  background-color: #f3f7fe;
  transition: all ease 0.3s;
  color: #000;
  margin: 1rem 0;
}

.input:focus {
  border: 1px solid #7b52b9;
  box-shadow: 0 0 0 4px #7b52b9;
}

/* General Button */
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-weight: 500;
  border-radius: 12px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 12px;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* Form Button */
.form_btn {
  width: fit-content;
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
  color: #7b52b9;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #7b52b9;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #7b52b9;
}

.form_btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #7b52b9;
}

.form_btn:active {
  transform: scale(0.9);
}

/* GSAP Navigation */

/* Bookings Table */
table {
  width: 100%;
  background: #fff;
  color: #1e1e1e;
  border-collapse: collapse;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-top: 2rem;
}

caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

caption {
  background-color: #1e1e1e;
  font-size: 1.5rem;
  font-family: "AndersonGrotesk", sans-serif;
  color: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

th {
  background-color: rgba(30, 30, 30, 0.7);
  color: #fff;
}

tr:nth-of-type(2n) {
  background-color: rgba(30, 30, 30, 0.1);
  color: #1e1e1e;
}

tr td p {
  margin-bottom: 0.5rem;
}

@media (max-width: 650px) {
  th {
    display: none;
  }

  td {
    display: block;
    padding: 0.5rem 1rem;
  }

  td::before {
    font-weight: 700;
    text-transform: capitalize;
  }

  td:nth-of-type(1)::before {
    content: "Serial no." ": ";
  }
  td:nth-of-type(2)::before {
    content: "service Details" ": ";
    display: block;
    margin-bottom: 0.5rem;
  }
  td:nth-of-type(3)::before {
    content: "customer Details" ": ";
    display: block;
    margin-bottom: 0.5rem;
  }
  td:nth-of-type(4)::before {
    content: "payment" ": ";
    display: block;
    margin-bottom: 0.5rem;
  }
  td:nth-of-type(5)::before {
    content: "Delete" ": ";
    display: block;
    margin-bottom: 0.5rem;
  }
}
