/* Main UI CSS */
/* GSAP Navigation */
header {
  position: relative;
  width: 100%;
  z-index: 90;
}

.header_wrapper {
  padding: inherit;
}

.inner_header {
  position: relative;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HAMBURGER MENU BUTTON */
.menu_trigger {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 48px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

.menu_trigger span {
  display: inline-flex;
  width: 28px;
  height: 2px;
  border-radius: 16px;
  background: #5d5d5d;
  transition: all ease 0.5s;
}

.menu_trigger span:nth-child(2) {
  width: 20px;
}

.menu_close span {
  position: absolute;
  background: #5d5d5d;
}

.menu_close span:nth-child(1) {
  transform: rotate(38deg);
}

.menu_close span:nth-child(3) {
  transform: rotate(-38deg);
}

.menu_close span:nth-child(2) {
  display: none;
}

/* HAMBURGER MENU LAYOUT */
.hamburger_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.reveal_menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #007af1;
  width: 100%;
  height: 100%;
}

.menu_main {
  position: relative;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

.menu_wrapper {
  position: relative;
}

.menu_tags {
  position: relative;
  top: 200px;
  gap: 48px;
}

.menu_tags nav {
  display: block;
}

.menu_tags nav li {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 16px 0;
}

.menu_tags ul li a {
  font-weight: 500;
  text-transform: capitalize font-bold;
  color: #1e1e1e;
  transition: all ease-in-out 0.3s;
}

.menu_tags ul li a:hover {
  color: #1e1e1e;
}

/* Header Gradient Animated Text */
.animate-gradient-text {
  background-image: linear-gradient(120deg, #1cdce8, #bb77ed, #f34a62);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated-gradient 5s ease-in-out infinite;
}

@keyframes animated-gradient {
  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

/* Form Inputs */
.input {
  font-family: "Montserrat";
  width: 100%;
  outline: none;
  border: 1px solid #dadada;
  padding: 12px;
  border-radius: 12px;
  background-color: #f3f7fe;
  transition: all ease 0.3s;
  color: #000;
  margin: 1rem 0;
}

.input:focus {
  border: 1px solid #007af1;
  box-shadow: 0 0 0 4px #007af1;
}

/* General Button */
.cssbuttons-io-button {
  background: #007af1;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #007af1;
  overflow: hidden;
  position: relative;
  height: 3.2em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4em;
  width: 2.4em;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #007af1;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #007af1;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .cssbuttons-io-button {
    background: #007af1;
    font-size: small;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #007af1;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }

  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #007af1;
    right: 0.3em;
    transition: all 0.3s;
  }
}

/* Form Button */
.form_btn {
  width: fit-content;
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 12px 20px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize font-bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #007af1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid #007af1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #007af1;
}

.form_btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #007af1;
}

.form_btn:active {
  transform: scale(0.9);
}

/* GSAP Navigation */

/* Bookings Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  color: #fff;
}

th {
  padding: 1.5rem;
  background: #fff;
  color: #1e1e1e;
}

td {
  padding: 1.5rem;
}

caption,
th {
  text-align: left;
}

caption {
  /* background-color: #1e1e1e; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 2.5rem 1rem;
}

th {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 0.25px solid hsl(0, 1%, 52%);
}

td {
  font-size: 1.25rem;
  border-bottom: 0.25px solid hsl(0, 1%, 52%);
}

td > p {
  margin-bottom: 0.5rem;
}

/* Table For Mobile Devices */
@media (max-width: 768px) {
  th {
    display: none;
  }

  thead > tr {
    border: none;
  }

  tr {
    border-top: 0.25px solid hsl(0, 1%, 52%);
    border-bottom: 0.25px solid hsl(0, 1%, 52%);
  }

  td {
    /* font-size: 1rem; */
    display: block;
    border: none;
    padding: 0.5rem 1rem;
  }

  td > p {
    display: inline-block;
    font-size: 1rem;
  }

  td::before {
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: capitalize font-bold;
    margin-right: 4px;
  }

  td:nth-of-type(1)::before {
    content: "Serial no" ": ";
    font-size: 0.8rem;
  }
  td:nth-of-type(2)::before {
    content: "service Details" ": ";
    /* display: block; */
    padding-bottom: 1rem;
  }
  td:nth-of-type(3)::before {
    content: "customer Details" ": ";
    /* display: block; */
    padding-bottom: 1rem;
  }

  td:nth-of-type(4)::before {
    content: "Action" ": ";
    /* display: block; */
    padding-bottom: 1rem;
  }
}

/* My Loader */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: rgba(8, 59, 169, 0.5);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #007af1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
