@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #100f0f;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "AndersonGrotesk";
  src: url(./assets//fonts/AndersonGrotesk-Black.otf);
  font-size: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AndersonGrotesk", sans-serif;
}
