@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #20262e;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 3px;
}
